{% if coupon %}
<p>Subtotal: £{{ before_coupon|floatformat:2 }}</p>
<p><strong class="text-success">{{ coupon }}</strong> coupon ({{ coupon.discount}}% off): <span class="text-danger">-
        £{{ discount | floatformat:2 }}</span></p>
<p><strong>Bag Total: £{{ total|floatformat:2 }}</strong></p>
{% else %}
<p><strong>Bag Total: £{{ total|floatformat:2 }}</strong></p>
{% endif %}
<h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
<form action="{% url 'coupon_apply' %}" method="POST">
    {{ coupon_apply_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-black rounded-0 mt-5">Apply Coupon</button>
</form>
<h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
{% if free_delivery_delta > 0 %}
<p class="mb-1 text-danger">
    You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
</p>
{% endif %}